.overlay-div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.3;
	z-index: 2;
	cursor: pointer;
}
.play-button {
	z-index: 3;
	position: absolute;
	top: 42%;
	left: 46%;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0px;
	outline: none;
	opacity: 0.8;
	transition: all 0.3s ease 0.3s;
}
.play-button:hover {
	transform: scale(1.2);
	background: none;
}
.welcome-text {
	position: absolute;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	z-index: 2;
	font-size: 2.8vw;
	left: 50px;
	top: 100px;
}
