@import "~mdb-ui-kit/css/mdb.min.css";

.App {
	display: flex;
}
.left-half {
	width: 50%;
	height: 100vh;
	display: flex;
	position: relative;
}
.video-bg-main {
	background-color: aquamarine;
}
.video-bg-oac {
	background-color: blueviolet;
}
.video-bg-ob {
	background-color: darkkhaki;
}
.right-half {
	width: 50%;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.btn-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.ficfeq {
	-webkit-box-align: center;
	align-items: center;
	border-radius: 100px;
	color: rgb(255, 255, 255);
	display: flex;
	flex-shrink: 0;

	font-size: 14px;
	background: rgb(125, 0, 254);
	font-weight: 500;
	height: 28px;
	-webkit-box-pack: center;
	justify-content: center;
	margin-right: 10px;
	width: 28px;
}
.dUoeBI {
	cursor: pointer;
	-webkit-box-flex: 1;
	flex-grow: 1;
	padding: 18px 0px;
	text-align: left;
}

.button-style {
	-webkit-box-align: center;
	align-items: center;
	border: none;
	border-radius: 30px;
	color: rgb(17, 17, 17);
	cursor: pointer;
	display: flex;
	font-size: 18px;
	font-weight: 500;
	height: auto;
	justify-content: flex-start;
	line-height: 20px;
	margin-bottom: 16px;
	outline: none;
	padding: 0px 24px 0px 16px;
	position: relative;
	width: 336px;
	pointer-events: initial;
}

.button-style:hover {
	border: 1.5px solid rgb(125, 0, 254);
	color: rgb(17, 17, 17);
	background: rgba(17, 17, 17, 0.1);
}

.button-style2 {
	cursor: pointer;
	pointer-events: initial;
	background: rgb(125, 0, 254);
	color: rgb(255, 255, 255);
	border: none;
	outline: none;
	box-shadow: rgb(0 0 0 / 10%) 0px 10px 30px 0px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	font-weight: 700;
	transition: all 0.1s ease-in-out 0s;
	transform: perspective(1000px) translateZ(0px);
	border-radius: 16px;
	flex-direction: row;
	width: 100%;
	max-width: 332px;
	height: 68px;
	padding: 0px 24px 3px;
	font-size: 18px;
	line-height: 24px;
	text-transform: none;
	letter-spacing: initial;
	text-align: center;
	margin: 0px;
}

.button-style:hover2 {
	background-color: rgb(125, 0, 240);
	color: rgb(255, 255, 255);
}

/*----------------Videos----------------*/
.left-half video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

video::-webkit-media-text-track-display {
	font-size: 65%;
}
